#wrapper {
	background-image: url(../images/background.jpeg);
	width: 960px;
	margin: 0 auto;
}

header {
	font-family: 'Cormorant Unicase', serif;
	font-size: 30px;
	text-align: center;
	margin: 5px auto;
	padding: 30px 0;
	color: gold;
	
}

table{
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	background: silver;
	margin: 20px auto;
	padding: 0px;
}

