#wrapper {
	background-color: black;
	width: 960px;
	margin: 0 auto;
}

header {
	font-family: 'Cormorant Unicase', serif;
	font-size: 30px;
	text-align: center;
	margin: 5px auto;
	padding: 30px 0;
	color: gold;
	
}